<div class="bg-white flex justify-center items-center h-screen">
  <div class="w-1/2 h-screen hidden lg:block">
    <img src="https://img.freepik.com/fotos-premium/imagen-fondo_910766-187.jpg?w=826" alt="Placeholder Image"
         class="object-cover w-full h-full">
  </div>
  <div class="md:p-52 sm:20 w-full lg:w-1/2">
    <div class="w-full">
      <h1 class="text-2xl font-semibold mb-8 text-center">ورود</h1>
      <div>
        <div class="flex flex-col gap-2 mb-4 relative pb-6">
          <label>ایمیل</label>
          <input pInputText type="email" class="focus:border-black" />
<!--          class="ng-invalid ng-dirty"-->
<!--          <small class="text-red-500 absolute bottom-0">Enter your username to reset your password.</small>-->
        </div>
        <div class="flex flex-col gap-2 mb-4 relative pb-6">
          <label>رمز</label>
          <p-password fluid="fluid" toggleMask="true" feedback="false" />
          <!--          class="ng-invalid ng-dirty"-->
<!--          <small class="text-red-500 absolute bottom-0">Enter your username to reset your password.</small>-->
        </div>
        <button class="w-full" pButton severity="info">ورود</button>
      </div>
      <div class="mt-2 flex w-full">
        <button routerLink="/register" class="w-full" pButton severity="info" outlined >ثبت نام</button>
      </div>
    </div>
  </div>
</div>
