<section class="w-full flex flex-col gap-2">
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
    <div class="rounded-lg border p-20 bg-white"></div>
</section>
